.App {
  margin: 30px auto auto;
  max-width: 500px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn {
  background: none;
  padding: 6px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.btn:focus {
  outline: none;
}

input:not([type='checkbox']),
input:not([type='radio']) {
  width: 100%;
  padding: 10px 20px;
  border-radius: 100px;
  outline: none;
  overflow: hidden;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

input:not([type='checkbox']):focus,
input:not([type='radio']):focus {
  box-shadow: 0 0 1px 1px green;
}
